# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*/node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo


*/db.sqlite3
/venv_3_12_1
/sechand_backend/sechand_backend/__pycache__
/venv
*.pyc
**/__pycache__/
**/migrations/__pycache__
*.pyc
/venv/
.vercel/
.vscode
.env
/sechand_backend/venv